mixin socials
  ul.socials
    li.socials__list
      a.socials__list-link(href="#")
        +icon-mono("socials_vk")(class="socials__list-icon" width="24px" height="24px")
      a.socials__list-link(href="#")
        +icon-mono("socials_telegram")(class="socials__list-icon" width="24px" height="24px")
      a.socials__list-link(href="#")
        +icon-mono("socials_whatsapp")(class="socials__list-icon" width="24px" height="24px")
      a.socials__list-link.socials__list-link--tel(href="#")
        +icon-mono("socials_phone")(class="socials__list-icon" width="24px" height="24px")
