section.how-order(id="how-order")
  .site-container
    .how-order__wrapper
      h2.how-order__title
        | Как заказать электромон&shy;тажные работы
      .how-order__items
        .how-order__item
          .how-order__item-img-wrapper
            img(src="assets/images/how-order/telephone.png")(class="how-order__item-img")
          h3.how-order__item-title
            | Заявка или звонок
          .how-order__item-desc
            | Оставьте заявку на сайте или <br> позвоните по телефону
        .how-order__item
          .how-order__item-img-wrapper
            img(src="assets/images/how-order/circle.png")(class="how-order__item-img")
          h3.how-order__item-title
            | Уточнение
          .how-order__item-desc
            | Мы уточним детали заказа, сроки работы и предварительную сумму
        .how-order__item
          .how-order__item-img-wrapper
            img(src="assets/images/how-order/helmet.png")(class="how-order__item-img")
          h3.how-order__item-title
            | Выполнение работ
          .how-order__item-desc
            | Заключаем договор. Выполняем работы строго по регламенту
        .how-order__item
          .how-order__item-img-wrapper
            img(src="assets/images/how-order/check.png")(class="how-order__item-img")
          h3.how-order__item-title
            | Прием работы
          .how-order__item-desc
            | Вы проверяете работы и подписываете акт о выполнении заказа
      button.how-order__button.button(type="button" data-path="modal")
        | оставить заявку
      .how-order__telephone
        .how-order__telephone-text
          | Заявка по телефону
        a.how-order__telephone-number(href="tel:+79061239996")
          | +7 (906) 123–99–96