section.intro
  .intro__wrapper
    img.intro__img(src="assets/images/intro/image-bg.jpg" alt="Помещение")
    .site-container
      .intro__inner
        h1.intro__title
          | Электро&shy;монтажные <br> работы #[span="любой сложности"]
        button.intro__button.button(type="button")
          | оставить заявку
        .intro__address
          | г. Казань <br> ул. Ленина, д. 94, кв. 12
  .intro__footer
    .intro__footer-item
      .intro__footer-item-icon-wrapper
        +icon-multi("protection")(class="intro__footer-item-icon" width="32px" height="32px")
      .intro__footer-item-text
        | Гарантия на все виды работ
    .intro__footer-item
      .intro__footer-item-icon-wrapper
        +icon-multi("time")(class="intro__footer-item-icon" width="32px" height="32px")
      .intro__footer-item-text
        | Работаем <br> 24 часа
    .intro__footer-item
      .intro__footer-item-icon-wrapper
        +icon-multi("doc")(class="intro__footer-item-icon" width="32px" height="32px")
      .intro__footer-item-text
        | Работаем по договору

