section.services
  .site-container
    .services__wrapper
      h2.services__title
        | услуги
      .services__items
        .services__item
          .services__item-img-wrapper
            +imgLazy("assets/images/services/1.jpg")(class="services__item-img")
          .services__item-text
            | Установка, замена  приборов учёта