footer.footer(id="footer")
	.site-container
		.footer__wrapper
			.footer__logo
				a.footer__logo-link(href="#")
					+imgLazy("assets/images/logo-footer.svg")(width="303px" height="224px" class="footer__logo-img")
			.footer__address
				|	Республика Татарстан, г.Мамадыш
			.footer__telephones
				a.footer__telephone(href="tel:+79061239996")
					| +7 (906) 123 99 96
				a.footer__telephone(href="tel:+79869049191")
					| +7 (986) 904 91 91
			+socials(class="socials--dark")