header.header
  .site-container
    .header__wrapper
      .header__burger
        span.header__burger-line
        span.header__burger-line
        span.header__burger-line
      a.header__logo(href="https://ramanta-energy.ru/")
        img.header__logo-img(src="assets/images/logo.svg" alt="Логотип Ramanta-energy")
      nav.nav.header__nav
        ul.nav__list
          li.nav__list-item
            a.nav__list-item-link(href="#why-we")
              | Преимущества
          li.nav__list-item
            a.nav__list-item-link(href="#services")
              | Услуги
          li.nav__list-item
            a.nav__list-item-link(href="#works")
              | Работы
          li.nav__list-item
            a.nav__list-item-link(href="#how-order")
              | Этапы работ
          li.nav__list-item
            a.nav__list-item-link(href="#footer")
              | Контакты
      .header__telephones
        a.header__telephone(href="tel:+79061239996")
          | +7 (906) 123 99 96
        a.header__telephone(href="tel:+79869049191")
          | +7 (986) 904 91 91
      +socials

