.menu
  .site-container
    .menu__wrapper
      nav.nav.menu__nav
        ul.nav__list
          li.nav__list-item
            a.nav__list-item-link(href="#")
              | Преимущества
          li.nav__list-item
            a.nav__list-item-link(href="#")
              | Услуги
          li.nav__list-item
            a.nav__list-item-link(href="#")
              | Работы
          li.nav__list-item
            a.nav__list-item-link(href="#")
              | Этапы работ
          li.nav__list-item
            a.nav__list-item-link(href="#")
              | Контакты
      +socials