.menu
  .site-container
    .menu__wrapper
      .menu__top
        .menu__burger
          span.menu__burger-line
          span.menu__burger-line
        a.header__logo(href="https://ramanta-energy.ru/")
          img.header__logo-img(src="assets/images/logo.svg" alt="Логотип Ramanta-energy")
        +socials
      nav.nav.menu__nav
        ul.nav__list
          li.nav__list-item
            a.nav__list-item-link(href="#")
              | Преимущества
          li.nav__list-item
            a.nav__list-item-link(href="#")
              | Услуги
          li.nav__list-item
            a.nav__list-item-link(href="#")
              | Работы
          li.nav__list-item
            a.nav__list-item-link(href="#")
              | Этапы работ
          li.nav__list-item
            a.nav__list-item-link(href="#")
              | Контакты
      +socials